.content .barra-flutuante {
    display: flex;
    flex-flow: row-reverse nowrap;
}

.barra-flutuante #buscar-flutuante {
    padding: 0.2rem;
    padding-right: 1rem;
    border-radius: 0.6rem;
    background-color: rgb(78, 78, 78);
}

.barra-flutuante #buscar-flutuante input {
    padding: 0.3rem 0.6rem;
    border: none;
    border-radius: 0.6rem;
}

@media screen and (min-width: 1px) {
    .barra-flutuante #buscar-flutuante {
        display: none;
    }
}