* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
}

body {
    background-color: rgb(240, 240, 240);
    background-image: url("../imagens/bg_pokeball_grey.png");
    background-position: -142px -179.5px;
    background-repeat: no-repeat;
    background-size: 460px;  
}

.content {
    padding: 1rem;
}

.content .cabecalho {
    padding-left: 10px;
    background-color: rgb(78, 78, 78);
    border-radius: 1rem;
}

.cabecalho h1 {
    color: rgb(190, 190, 190);
}

.pokedex {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.pokedex .pokemon {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    max-width: 240px;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: grey;
    background-image: url("../imagens/bg_pokeball.png");
    background-position: 115% 115%;
    background-repeat: no-repeat;
    background-size: 80px;
}

.pokemon .indice {
    opacity: 0.8;
    font-size: small;
    font-weight: bold;
    text-align: right;
}

.pokemon .nome {
    margin: 0.2rem 0px;
    color: #FFF;
    font-weight: bold;
}

.pokemon .detalhes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.detalhes .tipos {
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.tipos .slot-tipos {
    margin-top: 0.2rem;
    padding: 0.2rem 0.5rem;
    background-color: #FFF;
    opacity: 0.8;
    border-radius: 0.6rem;
    font-size: x-small;
    text-align: center;
}

.slot-tipos span {
    color: grey;
}

.pokemon .detalhes img {
    height: 80px;
    min-width: 80px;
    object-fit: contain;
}